/* header上の謎の余白はcode中の"全角スペース"(comment部分中含む)が原因? (ref: https://ogatanoyarou.com/index.php/2021/03/09/154/) */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  float: right;  
  /* 上, 右, 下, 左のpaddingを40px, 20px, 20px, 20pxにしてください */
  padding: 35px 40px 20px 20px;
}

.header {
  background-color: #191970;
  color: #fff;
  height: 90px;
}

/* header-logoの文字の大きさを36px, floatプロパティをleftにしてください */
.header-logo {
  float: left;
  font-size: 36px;
/* 上下のpaddingを20px, 左右のpaddingを40pxにしてください */
  padding: 20px 40px;
}

.main {
  background-color: #ffffe0;
  height: 600px;
}

/* ################################### */
.wrap {
  display: flex;
  /* 親要素の横幅を超えた子要素は折り返し複数行に配置する */
  flex-wrap: wrap;
}

.item {
  padding: 30px;
  width: 32%;
  background-color: #fff;
}

.item:not(:nth-child(2n+2)) {
  margin-right: 2%;
}

.item:nth-child(n+3) {
  margin-top: 30px;
}

@media not all and (min-width: 768px) {
  .item {
    width: 100%;
  }

  .item:not(:nth-child(2n+2)) {
    margin-right: 0;
  }

  .item:nth-child(n+2) {
    margin-top: 30px;
  }
}
/* ################################### */

.footer {
  background-color: #191970;
  height: 70px;
}
