/* header上の謎の余白はcode中の"全角スペース"(comment部分中含む)が原因? (ref: https://ogatanoyarou.com/index.php/2021/03/09/154/) */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  float: right;  
  /* 上, 右, 下, 左のpaddingを40px, 20px, 20px, 20pxにしてください */
  padding: 35px 40px 20px 20px;
}

.header {
  background-color: #191970;
  color: #fff;
  height: 90px;
}

/* header-logoの文字の大きさを36px, floatプロパティをleftにしてください */
.header-logo {
  float: left;
  font-size: 36px;
/* 上下のpaddingを20px, 左右のpaddingを40pxにしてください */
  padding: 20px 40px;
}

.main {
  background-color: #ffffe0;
  height: 600px;
}

/* ################################### */
.flex_test-box {
    background-color: #eee;     /* 背景色指定 */
    padding:  10px;             /* 余白指定 */
    height: 300px;              /* 高さ指定 */
    display: flex;              /* フレックスボックスにする */
    flex-wrap: wrap;            /* 折り返し指定 */
    align-content:stretch;      /* 折り返し時の配置指定 */
}
 
.flex_test-item {
    padding: 10px;
    color:  #fff;               /* 文字色 */
    margin:  10px;              /* 外側の余白 */
    border-radius:  5px;        /* 角丸指定 */
    font-size:  30px;           /* 文字サイズ */
    width: 200px;               /* 幅指定 */
    text-align:  center;        /* 文字中央揃え */
}
 
.flex_test-item:nth-child(1) {
    background-color:  #2196F3; /* 背景色指定 */
}
 
.flex_test-item:nth-child(2) {
    background-color:  #4CAF50; /* 背景色指定 */
}
 
.flex_test-item:nth-child(3) {
    background-color: #3F51B5; /* 背景色指定 */
}
 
.flex_test-item:nth-child(4) {
    background-color:  #00BCD4; /* 背景色指定 */
}
/* ################################### */

.footer {
  background-color: #191970;
  height: 70px;
}
