* {
	float: none;
	position: static;
}

body{
    display: flex;
    flex-direction: column;
}

@media screen and(max-width:767px){
body{
 display:block;
}



.header{
    height: 70px;
    text-align: center;
    background-color: #eee;
}
.glovalNavigation{
    height: 70px;
    text-align: center;
    background-color: #888;
    color: #fff;
}
main{
    display: flex;
    min-height: 70vh; /* 60vh */
    max-height: 100vh; /* 80vh */
    /* min-width: 100vh; */
    /* max-width: 100vh; 80vh */
    margin: 10px 0 10px 0;

}
.content{
    /* flex: 1; */
    background-color: #eee;
    text-align: center;
   margin-right: 10px;
    width: 850px; /* 850px */
    /* height: auto; */ /* height: auto;があると横幅に余白ができてしまう /*
}
.localNavigation{
    text-align: center;
    background-color: #888;
    color: #fff;
    width: 550px; /* 550px */
   /* height: auto;  */ /* height: auto;があると横幅に余白ができてしまう /*
}
.footer{
    height: 70px;
    text-align: center;
    background-color: #eee;
}
