* {
	float: none;
	position: static;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0; /* default 8px? */
    /* margin-right: 0; */
    overflow-x: hidden;
    overflow-y: scroll;
 }

.header{
    height: 100px;  /* 70px */
    /*　width: 100%;　*/ 
    font-size: 30px;  /* 25px */
    text-align: center;
    background-color: #eee;
    margin: 10px 0 5px 0;
}

.nav{
   height: 70px;
    background-color: #888;
    margin: 5px 0 10px 0; /* margin: 15px 0 10px 0;  margin: 10px 0 10px 0; */
    color: #fff;
	list-style-type: none; /* リスト先頭の黒丸を非表示 */
	text-align: center; /* .header-list ul {}内ではなくこちらに書いたら中央揃えが適用された。(liの親box?) */
	padding-left: 0;
}
.header-list li {
	font-size: 16px; /* 17px 15px 18px 4vh */
	display: inline; /* リスト要素を縦から横並びに変換する */
        padding: 35px 40px 20px 20px; 余白: [上][右][下][左] /*  padding: 35px 40px  padding: 35px 40px 20px 20px; */
}

.header-list a{
  color: white; /* リンクの色を指定 */
  text-decoration: none; /* リンクの下線を非表示 */
}
.title a{
  color: black; /* リンクの色を指定 */
  text-decoration: none; /* リンクの下線を非表示 */
}



main{

}


.footer{
    height: 300px; /* 220px 200px 165px (70px) 140px */
    /*　width: 100%;　*/ 
    text-align: center;
    background-color: #eee;
    margin: 10px 0 10px 0;
    margin-bottom: 0; /* なぜかこれがないとmainの右余白がなくなる??, header,footerの右端も空きができる */
}
